@import 'style3.scss';
// header
#nextar-header{
    margin-top:0px;
    .navbar-brand{
        width:150px;
        padding:15px 5px;
        vertical-align: middle;
        img{
            width:100%;
        }
    }
}

#nextar-home{
    height:auto;
    padding:25px 0;
    .text-inner .row{
        vertical-align: middle;
      
        width:100%;
        h2{}
        img{width:100%; max-width:500px;}
    }
    @media only screen  and (max-width:900px){
        vertical-align: top;
        display: block;
        text-align: center;
         .text-inner{
             display: block;
         }
        .text-wrap{
            height: auto;
            padding:40px 0 15px 0;
        }
        .text-inner .row{
            margin:auto;
            img{
                vertical-align: top;
                max-width: 320px;
            }
            .text-wrapper{
                top:0px;
            }
        }
        img{
            margin:auto;
        
        }
        .text-wrapper{
            background: rgba(#000,0.5);
            padding:15px;
            h2{
                font-size:12pt;
                line-height: 20px;

            }
        }
        #nextar-intro .project-block h2 {
            font-size: 16px;
        }
    }
    @media only screen  and (max-width:640px){
        .text-inner .row{
            .text-wrapper{
                top:300px;
            }
        }
    }
}
// project

#nextar-intro{
    padding:5px;
}
#nextar-intro .project-block > .overlay-darker{
    background:transparent;
}
#nextar-intro .project-block > .overlay {
    background: rgba(255, 255, 255, 0);
    opacity: 1;
    z-index: 9;
    position: relative;
}
#nextar-intro .project-block{
    width: 49%;
    float: left;
    text-align: center;
    font-size: 16px;
    min-height: 300px;
    vertical-align: middle;
    padding: 40px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0);
    z-index: 7;
    flex-grow: 1;

    h2{
        line-height: 80px;
        margin-bottom:0px;
    }
    @media screen  and (max-width:600px){
        width:100%;
        margin:10px auto;
        .project-wrapper{
            img{
                margin-top: 15px;
            }
        } 
    }
}
.media-size {
    @media screen  and (max-width:600px){
        width:100%;
        margin:250px 0px auto!important;
    }
}
#nextar-home .text-inner h4 {
    color: rgba(255, 255, 255, 0.8);
}
#nextar-home .text-inner {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}
 .project-wrapper{
     
    margin:0;
     padding:0 5px;
     img{
         width:100%;
         margin-top: 100px;
         max-width: 200px;
     }
 }
 .img-size {
    margin-top: 200px;
    @media screen  and (max-width:600px){
        margin-top: 0px;
    }
}
.text-wrapper{
    line-height: 100px;
    top:100px;
    h2{
        line-height: 40px;
    }
   @media screen  and (max-width:600px){
       top:0;
       margin-top: -280px;
   }
}
#footer{
    @include fh5co-gradient;
    color:#fff;
}
 #nextar-contact{
     padding:0;
 }
 #footer{
     padding:30px 0;
     text-align: center;
    .footer-img{
        position: relative;
        margin:auto;
        margin-top:30px;
        width:100%;
        max-width: 350px;
        vertical-align: middle;
    }
 }
 .footer-text-wrapper{
     text-align:left;
     line-height:30px;
     i{margin-right:15px;}
     p{margin:0;}
 }