@import 'style3.scss';
// header
#nextar-header{
    margin-top:0px;
    .navbar-brand{
        width:150px;
        padding:15px 5px;
        vertical-align: middle;
        img{
            width:100%;
        }
    }
}
#nextar-home .text-wrap{
    position: relative;
    display: block;
    height:auto;
}
#nextar-home{
    height:auto;
    padding:25px 0;
    .text-inner .row{
        vertical-align: middle;
      
        width:100%;
        h2{}
        img{width:100%;}
    }
    @media only screen  and (max-width:900px){
        vertical-align: top;
        display: block;
        text-align: center;
         .text-inner{
             display: block;
         }
        .text-wrap{
            height: auto;
            padding:40px 0 15px 0;
        }
        .text-inner .row{
            margin:auto;
            img{
                vertical-align: top;
                max-width: 320px;
            }
        }
        img{
            margin:auto;
        
        }
        .text-wrapper{
            background: rgba(#000,0.5);
            padding:15px;
            margin-top:20px;
            margin-bottom: 20px;
            h2{
                font-size:12pt;
                line-height: 20px;

            }
        }
    }
    @media only screen  and (max-width:640px){
        .text-inner .row{
            .text-wrapper{
                top:0px;
            }
        }
    }
}
// project
#nextar-intro{
    
    padding:5px;
    margin-top:0px;
    padding-top:30px;
    padding-bottom:30px;

    .gradient{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: .9;
         @include fh5co-gradient;
    }
    
}
#nextar-intro .project-block > .overlay-darker{
    background:transparent;
}
#nextar-intro .project-block{
    width:24%;
    margin:0 0.5%;
    min-height: 100px;
    padding:0;
    h2{
        line-height:30px;
        margin-bottom:0px;
        color:#000;
    }
    p{
        color:#2b2b2b;

    }
    &:hover{
        p{color:#e8e8e8;
        }
    }
    @media screen  and (max-width:600px){
        width:100%;
        margin:10px auto;
        .project-wrapper{
            
            img{
                margin-top: 15px;
            }
        } 
    }
}
 .project-wrapper{
    margin:auto;
     padding:0 5px;
     text-align: center;
     img{
         width:100%;
         margin:auto;
         max-width: 200px;
     }
 }
.text-wrapper{
    line-height: 100px;
    margin-top:150px;
    margin-bottom:50px;
    h2{
        line-height: 40px;
    }
   @media screen  and (max-width:600px){
       
   }
}
#footer{
    @include fh5co-gradient;
    color:#fff;
}
 #nextar-contact{
     padding:0;
 }
 #footer{
     padding:30px 0;
     text-align: center;
    .footer-img{
        position: relative;
        margin:auto;
        margin-top:30px;
        width:100%;
        max-width: 350px;
        vertical-align: middle;
    }
 }
 .footer-text-wrapper{
     text-align:left;
     line-height:30px;
     i{margin-right:15px;}
     p{margin:0;}
 }