section#nextar-home(data-section='home', style='background-image: url(images/full_image_2.jpg);', data-stellar-background-ratio='0.5')
    .gradient
    .container
        .text-wrap
            .text-inner
                .row
                    .text-wrapper.col-md-6
                        h2.to-animate.text-left
                            | Nextar is your one-stop solution to Industrial PC parts and POS system equipment repair and maintenance. We are located in the center of Phnom Penh to provide the community timely and reliable services.
                    .col-md-6
                        img.to-animate(src='./images/game-pos.png')
                         
    .slant