section#nextar-contact(data-section='contact')
    #map.to-animate
footer#footer(role='contentinfo')
    .container
        .row
            .col-md-6
                img(src='./images/logo.png')
            .col-md-6.text-center
        .row
            .col-md-12.text-center
                ul.social.social-circle
                    li
                        a(href='#')
                            i.icon-twitter
                    li
                        a(href='#')
                            i.icon-facebook
                    li
                        a(href='#')
                            i.icon-youtube