section#nextar-intro(data-section='Product')
    .container
        .row
            .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
                .overlay-darker
                .overlay
                .project-wrapper
                    img(src="images/IPC-model-a233.png", alt="")
                    h2 IPC-model-a233
            .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
                .overlay-darker
                .overlay
                .project-wrapper
                    img(src="images/IPC-model-g833.png", alt="")
                    h2 IPC-model-g833
            .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
                .overlay-darker
                .overlay
                .project-wrapper
                    img(src="images/IPC-model-h633.png", alt="")
                    h2 IPC-model-h633
            .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
                .overlay-darker
                .overlay
                .project-wrapper
                    img(src="images/game-pos1.png", alt="")
                    h2 POS-type-C
            .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
                .overlay-darker
                .overlay
                .project-wrapper
                    img(src="images/game-pos2.png", alt="")
                    h2 POS-type-M
            .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
                .overlay-darker
                .overlay
                .project-wrapper
                    img(src="images/game-pos3.png", alt="")
                    h2 POS-type-V