section#nextar-intro.clearfix(data-section='service')
    .col-xs-12
        h1.text-left
            | Services:
    .col-xs-12
        .col-xs-6.img-responsive
            img(src='./images/services.jpg')
        .col-xs-6
            h1.text-left.servicetext DATA CENTER SOLUTIONS
            h2.text-right
                p Data Center Relocation
                p Disaster Recovery
                p Data Migration
                p Data Recovery
    .col-xs-12.mt-20
        .col-xs-6
            h1.text-left.servicetext NETWORK OPERATION SOLUTION
            h2.text-right
                p NOC Management
                p Network Design
                p Network Documentation
                p Router Configurations
        .col-xs-6.img-responsive
            img(src='./images/network.jpg')
    .col-xs-12
        .col-xs-6.img-responsive
            img(src='./images/solution.jpg')
        .col-xs-6
            h1.text-left.servicetext BUSINESS OPERATION SOLUTIONS
            h2.text-right
                p POS Software and Hardware System
                p Accounting Software System
                p CRM Software System
                p Inventory Management Software System
